html, body {
    overflow-x: hidden;
}
.icon-circle {
    width: 80px;
    height: 80px;
    background-color: #2F4157;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
  }
  .icon-circle img {
    width: 40px;
    height: 40px;
  }
  .step-title {
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
  .step-text {
    text-align: center;
    margin-top: 5px;
  }
  .check-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
.card-text {
    font-weight: 400 !important;
    color: #333 !important;
}

.rotate-icon {
    transition: transform 0.3s ease-in-out;
}
.accordion-button.collapsed .rotate-icon {
    transform: rotate(0deg);
}
.accordion-button:not(.collapsed) .rotate-icon {
    transform: rotate(90deg);
}


/* sidebarr */
.transition-all {
  transition: all 0.3s ease-in-out;
}

/* Konten saat sidebar terbuka */
.sidebar-open {
  margin-left: 250px; /* Sesuaikan dengan lebar sidebar */
}

/* Konten saat sidebar tertutup */
.sidebar-closed {
  margin-left: 0;
}



#profilePicture {
  width: 100px;  /* Ukuran tetap sesuai desain */
  height: 100px; /* Ukuran tetap sesuai desain */
  object-fit: cover; /* Menyesuaikan gambar agar menutupi elemen tanpa merusak proporsi */
}

.page-bg {
  background: url('/assets/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}
